.popup {
  display: none;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 195px 19px 0 19px;
}

@media screen and (max-width: 768px) {
  .popup {
    padding: 123px 19px 0 19px;
  }
}
