.elements__card-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 23px 21px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
